<a href="https://colab.research.google.com/github/Ulises13890/ClaseficacionKNN/blob/main/Udeilor_Ulises_Uscategui_EA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad evaluativa 2: Limpieza y procesamiento de datos
Udeilor Ulises Uscategui Puentes

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt

Ahora cargamos la base de datos de covid 19.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
db_covid=pd.read_csv('/content/drive/MyDrive/COVID_databasse/Casos_positivos_de_COVID-19_en_Colombia.csv')

<ipython-input-6-83c5a2d4ff0c>:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  db_covid=pd.read_csv('/content/drive/MyDrive/COVID_databasse/Casos_positivos_de_COVID-19_en_Colombia.csv')

Ahora a imprimir los primeros datos de la base de datos

In [42]:
df_covid=pd.DataFrame(db_covid)
df_covid.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24 00:00:00,"1,556,979",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,67,1,F,...,NaN,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN
1,2020-12-24 00:00:00,"1,556,980",2020-12-19 00:00:00,76,VALLE,"76,001",CALI,66,1,F,...,NaN,NaN,Recuperado,2020-12-07 00:00:00,NaN,2020-12-23 00:00:00,2020-12-25 00:00:00,Tiempo,6.0,NaN
2,2020-12-24 00:00:00,"1,556,981",2020-12-19 00:00:00,76,VALLE,"76,001",CALI,68,1,F,...,NaN,NaN,Recuperado,2020-12-18 00:00:00,NaN,2020-12-22 00:00:00,2021-01-01 00:00:00,Tiempo,6.0,NaN
3,2020-12-24 00:00:00,"1,556,982",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,74,1,F,...,NaN,NaN,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6.0,NaN
4,2020-12-24 00:00:00,"1,556,983",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,65,1,F,...,NaN,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN

In [43]:
db_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390971 entries, 0 to 6390970
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   fecha reporte web             object
 1   ID de caso                    object
 2   Fecha de notificación         object
 3   Código DIVIPOLA departamento  object
 4   Nombre departamento           object
 5   Código DIVIPOLA municipio     object
 6   Nombre municipio              object
 7   Edad                          int64
 8   Unidad de medida de edad      int64
 9   Sexo                          object
 10  Tipo de contagio              object
 11  Ubicación del caso            object
 12  Estado                        object
 13  Código ISO del país           object
 14  Nombre del país               object
 15  Recuperado                    object
 16  Fecha de inicio de síntomas   object
 17  Fecha de muerte               object
 18  Fecha de diagnóstico          object
 19  Fecha de recuperación         object
 20  Tipo de recuperación          object
 21  Pertenencia étnica            float64
 22  Nombre del grupo étnico       object
dtypes: float64(1), int64(2), object(20)
memory usage: 1.1+ GB

In [44]:
df_covid.columns

Index(['fecha reporte web', 'ID de caso', 'Fecha de notificación',
       'Código DIVIPOLA departamento', 'Nombre departamento',
       'Código DIVIPOLA municipio', 'Nombre municipio', 'Edad',
       'Unidad de medida de edad', 'Sexo', 'Tipo de contagio',
       'Ubicación del caso', 'Estado', 'Código ISO del país',
       'Nombre del país', 'Recuperado', 'Fecha de inicio de síntomas',
       'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación',
       'Tipo de recuperación', 'Pertenencia étnica',
       'Nombre del grupo étnico'],
      dtype='object')

In [45]:
# Contando valores repetidos

value_counts = df_covid['ID de caso'].value_counts()
print(value_counts[value_counts > 1])

Series([], Name: count, dtype: int64)

como podemos ver no hay valores repetidos en cuanto a ID del caso

## Utiliza value_counts(dropna=False), para visualizar las siguientes variables: Estado, Sexo, Tipo, País_procedencia, Tipo_recuperación, Pertenencia_étnica, Nombre_grupo_étnico. (5 puntos).

In [11]:
df_covid["Estado"].value_counts(dropna=False)

Estado
Leve         6154791
Fallecido     143125
leve           50623
NaN            41268
Moderado        1056
Grave            106
LEVE               2
Name: count, dtype: int64

En estado los datos leve estan repetidos, en tres campos distintos "Leve", "leve" y "LEVE". La idea seria unificar los datos en una sola variable en este caso seria "Leve"

In [46]:
df_covid["Sexo"].value_counts(dropna=False)

Sexo
F    3417087
M    2973872
f          6
m          6
Name: count, dtype: int64

Los valores a cambiar serian f y m

In [47]:
df_covid["Tipo de contagio"].value_counts(dropna=False)

Tipo de contagio
Comunitaria    4447740
Relacionado    1939528
Importado         3703
Name: count, dtype: int64

No hay datos mal escritos

In [48]:
df_covid["Nombre del país"].value_counts(dropna=False)

Nombre del país
NaN                          6387253
ESTADOS UNIDOS DE AMÉRICA       1418
MÉXICO                           385
ESPAÑA                           370
BRASIL                           285
                              ...
ANDORRA                            1
KENYA                              1
GUADALUPE                          1
REPÚBLICA DOCIMINCANA              1
HAITÍ                              1
Name: count, Length: 90, dtype: int64

In [49]:
# prompt: print(df_covid["Nombre del país"].unique) haz que imprima como un array de datos unicos

print(df_covid["Nombre del país"].unique())

[nan 'MÉXICO' 'REPÚBLICA DOMINICANA' 'ALEMANIA' 'FRANCIA'
 'ESTADOS UNIDOS DE AMÉRICA' 'ECUADOR' 'PORTUGAL' 'BRASIL' 'EL SALVADOR'
 'PANAMÁ' 'EMIRATOS ARABES UNIDOS' 'ARMENIA' 'DOMINICA' 'NORUEGA' 'PERÚ'
 'ESPAÑA' 'INDONESIA' 'VENEZUELA' 'CHILE' 'TRINIDAD Y TOBAGO' 'NICARAGUA'
 'PERU' 'ISLAS VÍRGENES DE LOS ESTADOS UNIDOS' 'ARGENTINA' 'ITALIA'
 'CURAZAO' 'PUERTO RICO' 'EGIPTO' 'FEDERACIÓN DE RUSIA' 'CANADÁ'
 'GUATEMALA' 'ESTADOS UNIDOS' 'ARABIA SAUDÍ' 'TURQUÍA' 'SANTA HELENA'
 'BELARUSIA' 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE' 'HONDURAS'
 'ISRAEL' 'JERSEY' 'AUSTRALIA' 'COSTA RICA' 'PARAGUAY' 'UCRANIA' 'ARUBA'
 'JAMAICA' 'LIBANO' 'BOLIVIA' 'SAN VICENTE Y LAS GRANADINAS' 'ANDORRA'
 'REPÚBLICA CENTROAFRICANA' 'URUGUAY' 'PAÍSES BAJOS' 'CUBA' 'SUECIA'
 'CAMERÚN' 'PANAMA' 'ARABIA SAUDITA' 'ANGUILA' 'REPÚBLICA DOCIMINCANA'
 'GUADALUPE' 'ALBANIA' 'KENYA' 'ANTILLAS NEERLANDESAS' 'BÉLGICA'
 'MARRUECOS' 'IRLANDA' 'GRECIA' 'SUIZA' 'QATAR' 'TABATINGA' 'NIGERIA'
 'MEXICO' 'COMORAS' 'CROACIA' 'GRANADA' 'REPÚBLICA ÁRABE SIRIA'
 'AFGANISTÁN' 'POLINESIA FRANCESA' 'REPÚBLICA DE COREA' 'MONTENEGRO'
 'REINO UNIDO' 'CHINA' 'BOSNIA Y HERZEGOVINA' 'SAN BARTOLOMÉ' 'VENEUELA'
 'REPUBLICA POPULAR DEL CONGO' 'REPÚBLICA CHECA' 'HAITÍ']

A simple vista se nota que se repite reino unido con "reino unido de gran bretaña", "estados unidos de america" con "estados unidos", "PERÚ" con "PERU", esta mal escrito 'REPÚBLICA DOCIMINCANA'

In [50]:
df_covid['Tipo de recuperación'].value_counts(dropna=False)

Tipo de recuperación
Tiempo    5274348
PCR        933773
NaN        182398
TIEMPO        452
Name: count, dtype: int64

Se repite Tiempo con TIEMPO

In [52]:
df_covid['Pertenencia étnica'].value_counts(dropna=False)

Pertenencia étnica
6.0    6166659
5.0     137411
1.0      84202
NaN       2156
3.0        405
2.0        138
Name: count, dtype: int64

No se repiten valores

In [55]:
df_covid['Nombre del grupo étnico'].value_counts(dropna=False)

Nombre del grupo étnico
NaN              6307107
Por definir        17222
Sin Comunidad      12064
ZENU                9264
PIJAO               4112
                  ...
YULA                   1
CHARCO CAIMAN          1
KAIKAISHI              1
TEKIA                  1
MASHALERRAIN           1
Name: count, Length: 1888, dtype: int64

In [56]:
print(df_covid["Nombre del grupo étnico"].unique())

[nan 'Por definir' 'EMBERA' ... 'PUERTO NARIÑO  -ZONA ASATRIZY' 'COROCITO'
 'MASHALERRAIN']

no hay informacion sufieciente para determinar si en este caso hay datos mal escritos

## Realiza una limpieza de datos de las variables anteriores, haciendo uso de .zip(), .map(), .replace(), .fillna(), etc. (10 puntos).

Con replace vamos a remplazar los valores repetidos en Estado

In [57]:
# remplazando datos con replace

df_covid['Estado'] = df_covid['Estado'].replace(["LEVE", "leve"], "Leve")
df_covid["Estado"].value_counts(dropna=False)

Estado
Leve         6205416
Fallecido     143125
NaN            41268
Moderado        1056
Grave            106
Name: count, dtype: int64

Con replace vamos a remplazar los valores repetidos en Sexo

In [58]:
df_covid['Sexo'] = df_covid['Sexo'].replace(["f"], "F")
df_covid['Sexo'] = df_covid['Sexo'].replace(["m"], "M")
df_covid["Sexo"].value_counts(dropna=False)

Sexo
F    3417093
M    2973878
Name: count, dtype: int64

Ahora a remplazazar los valores de nombre del pais

In [59]:
print(df_covid["Nombre del país"].unique())

[nan 'MÉXICO' 'REPÚBLICA DOMINICANA' 'ALEMANIA' 'FRANCIA'
 'ESTADOS UNIDOS DE AMÉRICA' 'ECUADOR' 'PORTUGAL' 'BRASIL' 'EL SALVADOR'
 'PANAMÁ' 'EMIRATOS ARABES UNIDOS' 'ARMENIA' 'DOMINICA' 'NORUEGA' 'PERÚ'
 'ESPAÑA' 'INDONESIA' 'VENEZUELA' 'CHILE' 'TRINIDAD Y TOBAGO' 'NICARAGUA'
 'PERU' 'ISLAS VÍRGENES DE LOS ESTADOS UNIDOS' 'ARGENTINA' 'ITALIA'
 'CURAZAO' 'PUERTO RICO' 'EGIPTO' 'FEDERACIÓN DE RUSIA' 'CANADÁ'
 'GUATEMALA' 'ESTADOS UNIDOS' 'ARABIA SAUDÍ' 'TURQUÍA' 'SANTA HELENA'
 'BELARUSIA' 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE' 'HONDURAS'
 'ISRAEL' 'JERSEY' 'AUSTRALIA' 'COSTA RICA' 'PARAGUAY' 'UCRANIA' 'ARUBA'
 'JAMAICA' 'LIBANO' 'BOLIVIA' 'SAN VICENTE Y LAS GRANADINAS' 'ANDORRA'
 'REPÚBLICA CENTROAFRICANA' 'URUGUAY' 'PAÍSES BAJOS' 'CUBA' 'SUECIA'
 'CAMERÚN' 'PANAMA' 'ARABIA SAUDITA' 'ANGUILA' 'REPÚBLICA DOCIMINCANA'
 'GUADALUPE' 'ALBANIA' 'KENYA' 'ANTILLAS NEERLANDESAS' 'BÉLGICA'
 'MARRUECOS' 'IRLANDA' 'GRECIA' 'SUIZA' 'QATAR' 'TABATINGA' 'NIGERIA'
 'MEXICO' 'COMORAS' 'CROACIA' 'GRANADA' 'REPÚBLICA ÁRABE SIRIA'
 'AFGANISTÁN' 'POLINESIA FRANCESA' 'REPÚBLICA DE COREA' 'MONTENEGRO'
 'REINO UNIDO' 'CHINA' 'BOSNIA Y HERZEGOVINA' 'SAN BARTOLOMÉ' 'VENEUELA'
 'REPUBLICA POPULAR DEL CONGO' 'REPÚBLICA CHECA' 'HAITÍ']

In [60]:
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(["ISLAS VÍRGENES DE LOS ESTADOS UNIDOS",'PUERTO RICO', "ESTADOS UNIDOS"], "ESTADOS UNIDOS DE AMÉRICA")
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['REPÚBLICA DOCIMINCANA'], "REPÚBLICA DOMINICANA")
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['PANAMA'], 'PANAMÁ')
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['PERU'], 'PERÚ')
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['VENEUELA'], 'VENEZUELA')
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['MEXICO'], 'MÉXICO')
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['SANTA HELENA','REINO UNIDO'], 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE')
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['GUADALUPE','POLINESIA FRANCESA', 'SAN BARTOLOMÉ' ], 'FRANCIA')
print(df_covid["Nombre del país"].unique())

[nan 'MÉXICO' 'REPÚBLICA DOMINICANA' 'ALEMANIA' 'FRANCIA'
 'ESTADOS UNIDOS DE AMÉRICA' 'ECUADOR' 'PORTUGAL' 'BRASIL' 'EL SALVADOR'
 'PANAMÁ' 'EMIRATOS ARABES UNIDOS' 'ARMENIA' 'DOMINICA' 'NORUEGA' 'PERÚ'
 'ESPAÑA' 'INDONESIA' 'VENEZUELA' 'CHILE' 'TRINIDAD Y TOBAGO' 'NICARAGUA'
 'ARGENTINA' 'ITALIA' 'CURAZAO' 'EGIPTO' 'FEDERACIÓN DE RUSIA' 'CANADÁ'
 'GUATEMALA' 'ARABIA SAUDÍ' 'TURQUÍA'
 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE' 'BELARUSIA' 'HONDURAS'
 'ISRAEL' 'JERSEY' 'AUSTRALIA' 'COSTA RICA' 'PARAGUAY' 'UCRANIA' 'ARUBA'
 'JAMAICA' 'LIBANO' 'BOLIVIA' 'SAN VICENTE Y LAS GRANADINAS' 'ANDORRA'
 'REPÚBLICA CENTROAFRICANA' 'URUGUAY' 'PAÍSES BAJOS' 'CUBA' 'SUECIA'
 'CAMERÚN' 'ARABIA SAUDITA' 'ANGUILA' 'ALBANIA' 'KENYA'
 'ANTILLAS NEERLANDESAS' 'BÉLGICA' 'MARRUECOS' 'IRLANDA' 'GRECIA' 'SUIZA'
 'QATAR' 'TABATINGA' 'NIGERIA' 'COMORAS' 'CROACIA' 'GRANADA'
 'REPÚBLICA ÁRABE SIRIA' 'AFGANISTÁN' 'REPÚBLICA DE COREA' 'MONTENEGRO'
 'CHINA' 'BOSNIA Y HERZEGOVINA' 'REPUBLICA POPULAR DEL CONGO'
 'REPÚBLICA CHECA' 'HAITÍ']

In [62]:
Pais_limpiar=df_covid["Nombre del país"].unique()

In [63]:
Pais_limpiar = np.array(Pais_limpiar)
#eliminar registros nulos
Pais_limpiar = Pais_limpiar[~pd.isnull(Pais_limpiar)]

# Convertir a una lista ordenada alfabeticamente
Pais_limpiar = np.array(sorted(Pais_limpiar))

Pais_limpiar

array(['AFGANISTÁN', 'ALBANIA', 'ALEMANIA', 'ANDORRA', 'ANGUILA',
       'ANTILLAS NEERLANDESAS', 'ARABIA SAUDITA', 'ARABIA SAUDÍ',
       'ARGENTINA', 'ARMENIA', 'ARUBA', 'AUSTRALIA', 'BELARUSIA',
       'BOLIVIA', 'BOSNIA Y HERZEGOVINA', 'BRASIL', 'BÉLGICA', 'CAMERÚN',
       'CANADÁ', 'CHILE', 'CHINA', 'COMORAS', 'COSTA RICA', 'CROACIA',
       'CUBA', 'CURAZAO', 'DOMINICA', 'ECUADOR', 'EGIPTO', 'EL SALVADOR',
       'EMIRATOS ARABES UNIDOS', 'ESPAÑA', 'ESTADOS UNIDOS DE AMÉRICA',
       'FEDERACIÓN DE RUSIA', 'FRANCIA', 'GRANADA', 'GRECIA', 'GUATEMALA',
       'HAITÍ', 'HONDURAS', 'INDONESIA', 'IRLANDA', 'ISRAEL', 'ITALIA',
       'JAMAICA', 'JERSEY', 'KENYA', 'LIBANO', 'MARRUECOS', 'MONTENEGRO',
       'MÉXICO', 'NICARAGUA', 'NIGERIA', 'NORUEGA', 'PANAMÁ', 'PARAGUAY',
       'PAÍSES BAJOS', 'PERÚ', 'PORTUGAL', 'QATAR',
       'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE',
       'REPUBLICA POPULAR DEL CONGO', 'REPÚBLICA CENTROAFRICANA',
       'REPÚBLICA CHECA', 'REPÚBLICA DE COREA', 'REPÚBLICA DOMINICANA',
       'REPÚBLICA ÁRABE SIRIA', 'SAN VICENTE Y LAS GRANADINAS', 'SUECIA',
       'SUIZA', 'TABATINGA', 'TRINIDAD Y TOBAGO', 'TURQUÍA', 'UCRANIA',
       'URUGUAY', 'VENEZUELA'], dtype='<U47')

In [64]:
df_covid['Nombre del país'] = df_covid['Nombre del país'].replace(['TABATINGA'], 'BRASIL')
print(df_covid["Nombre del país"].unique())

[nan 'MÉXICO' 'REPÚBLICA DOMINICANA' 'ALEMANIA' 'FRANCIA'
 'ESTADOS UNIDOS DE AMÉRICA' 'ECUADOR' 'PORTUGAL' 'BRASIL' 'EL SALVADOR'
 'PANAMÁ' 'EMIRATOS ARABES UNIDOS' 'ARMENIA' 'DOMINICA' 'NORUEGA' 'PERÚ'
 'ESPAÑA' 'INDONESIA' 'VENEZUELA' 'CHILE' 'TRINIDAD Y TOBAGO' 'NICARAGUA'
 'ARGENTINA' 'ITALIA' 'CURAZAO' 'EGIPTO' 'FEDERACIÓN DE RUSIA' 'CANADÁ'
 'GUATEMALA' 'ARABIA SAUDÍ' 'TURQUÍA'
 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE' 'BELARUSIA' 'HONDURAS'
 'ISRAEL' 'JERSEY' 'AUSTRALIA' 'COSTA RICA' 'PARAGUAY' 'UCRANIA' 'ARUBA'
 'JAMAICA' 'LIBANO' 'BOLIVIA' 'SAN VICENTE Y LAS GRANADINAS' 'ANDORRA'
 'REPÚBLICA CENTROAFRICANA' 'URUGUAY' 'PAÍSES BAJOS' 'CUBA' 'SUECIA'
 'CAMERÚN' 'ARABIA SAUDITA' 'ANGUILA' 'ALBANIA' 'KENYA'
 'ANTILLAS NEERLANDESAS' 'BÉLGICA' 'MARRUECOS' 'IRLANDA' 'GRECIA' 'SUIZA'
 'QATAR' 'NIGERIA' 'COMORAS' 'CROACIA' 'GRANADA' 'REPÚBLICA ÁRABE SIRIA'
 'AFGANISTÁN' 'REPÚBLICA DE COREA' 'MONTENEGRO' 'CHINA'
 'BOSNIA Y HERZEGOVINA' 'REPUBLICA POPULAR DEL CONGO' 'REPÚBLICA CHECA'
 'HAITÍ']

Corregimos los registros de Tipo de recuperación

In [65]:
df_covid['Tipo de recuperación'] = df_covid['Tipo de recuperación'].replace(['TIEMPO'], 'Tiempo')
df_covid['Tipo de recuperación'].value_counts(dropna=False)

Tipo de recuperación
Tiempo    5274800
PCR        933773
NaN        182398
Name: count, dtype: int64

# Elimina las siguientes variables del DataFrame utilizando la función 'Del': 'Código_DIVIPOLA, Código_país, Código_departamento' y crea una copia del DataFrame. (5 puntos).

In [68]:
df_covid_copy=df_covid.copy() #creando copia del dataframe
print(df_covid_copy.columns)

Index(['fecha reporte web', 'ID de caso', 'Fecha de notificación',
       'Código DIVIPOLA departamento', 'Nombre departamento',
       'Código DIVIPOLA municipio', 'Nombre municipio', 'Edad',
       'Unidad de medida de edad', 'Sexo', 'Tipo de contagio',
       'Ubicación del caso', 'Estado', 'Código ISO del país',
       'Nombre del país', 'Recuperado', 'Fecha de inicio de síntomas',
       'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación',
       'Tipo de recuperación', 'Pertenencia étnica',
       'Nombre del grupo étnico'],
      dtype='object')

In [73]:
del df_covid_copy['Código DIVIPOLA departamento']
del df_covid_copy['Código DIVIPOLA municipio']
del df_covid_copy['Código ISO del país']
df_covid_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390971 entries, 0 to 6390970
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   fecha reporte web            object
 1   ID de caso                   object
 2   Fecha de notificación        object
 3   Nombre departamento          object
 4   Nombre municipio             object
 5   Edad                         int64
 6   Unidad de medida de edad     int64
 7   Sexo                         object
 8   Tipo de contagio             object
 9   Ubicación del caso           object
 10  Estado                       object
 11  Nombre del país              object
 12  Recuperado                   object
 13  Fecha de inicio de síntomas  object
 14  Fecha de muerte              object
 15  Fecha de diagnóstico         object
 16  Fecha de recuperación        object
 17  Tipo de recuperación         object
 18  Pertenencia étnica           float64
 19  Nombre del grupo étnico      object
dtypes: float64(1), int64(2), object(17)
memory usage: 975.2+ MB

# Identifica registros duplicados. (5 puntos).

In [74]:
# identificar registros dulicados basados en todas las columnas
duplicates = df_covid_copy[df_covid_copy.duplicated(keep=False)]

# Mostrar en pantalla los registros duplicados.
duplicates

Empty DataFrame
Columns: [fecha reporte web, ID de caso, Fecha de notificación, Nombre departamento, Nombre municipio, Edad, Unidad de medida de edad, Sexo, Tipo de contagio, Ubicación del caso, Estado, Nombre del país, Recuperado, Fecha de inicio de síntomas, Fecha de muerte, Fecha de diagnóstico, Fecha de recuperación, Tipo de recuperación, Pertenencia étnica, Nombre del grupo étnico]
Index: []

No existen registros duplicados en la base de datos

In [75]:
# identificar valores atipicos
numeric_cols = df_covid_copy.select_dtypes(include=np.number).columns

# Iterar sobre las columnas numéricas
for col in numeric_cols:
    # Calcular el rango intercuartílico (IQR)
    Q1 = df_covid_copy['Edad'].quantile(0.25)
    Q3 = df_covid_copy['Edad'].quantile(0.75)
    IQR = Q3 - Q1

    # Definir los límites para identificar valores atípicos
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Identificar valores atípicos
    outliers = df_covid_copy[(df_covid_copy['Edad'] < lower_bound) | (df_covid_copy[col] > upper_bound)]

    # Imprimir los valores atípicos para la columna actual
    print(f"Valores atípicos en la columna '{'Edad'}':")
    print(outliers[['Edad']])
    print("-" * 20)

Valores atípicos en la columna 'Edad':
         Edad
39         93
252       100
509        93
723        94
844        93
...       ...
6388337    93
6388727    93
6390011    94
6390420    95
6390767    97

[14978 rows x 1 columns]
--------------------
Valores atípicos en la columna 'Edad':
Empty DataFrame
Columns: [Edad]
Index: []
--------------------
Valores atípicos en la columna 'Edad':
Empty DataFrame
Columns: [Edad]
Index: []
--------------------

In [77]:

# Udentificando valores atipicos de variables categoricas,
categorical_cols = df_covid_copy.select_dtypes(exclude=np.number).columns
for col in categorical_cols:
    value_counts = df_covid_copy['Nombre departamento'].value_counts(normalize=True)
    rare_values = value_counts[value_counts < 0.01] # Ejemplo: valores que aparecen en menos del 1% de los datos
print(f"Valores poco frecuentes en '{'Nombre departamento'}':")
print(rare_values)
print("-"*20)

Valores poco frecuentes en 'Nombre departamento':
Nombre departamento
GUAJIRA         9.130537e-03
CASANARE        6.775496e-03
BOLIVAR         6.311404e-03
MAGDALENA       5.189352e-03
CAQUETA         4.029122e-03
PUTUMAYO        3.464575e-03
CHOCO           2.958392e-03
ARAUCA          2.720557e-03
SAN ANDRES      1.627609e-03
AMAZONAS        1.232833e-03
GUAVIARE        8.906315e-04
VICHADA         5.470217e-04
GUAINIA         4.373357e-04
VAUPES          3.085603e-04
Santander       2.534826e-05
Cundinamarca    1.095295e-06
Caldas          1.564707e-07
Tolima          1.564707e-07
Putumayo        1.564707e-07
Name: proportion, dtype: float64
--------------------

Los valores mas atipicos son Putumayo, Tolima, caldas y Cundinamarca

In [78]:
# Udentificando valores atipicos de variables categoricas,
categorical_cols = df_covid_copy.select_dtypes(exclude=np.number).columns
for col in categorical_cols:
    value_counts = df_covid_copy['Nombre municipio'].value_counts(normalize=True)
    rare_values = value_counts[value_counts < 0.01] # Ejemplo: valores que aparecen en menos del 1% de los datos
print(f"Valores poco frecuentes en '{'Nombre municipio'}':")
print(rare_values)
print("-"*20)

Valores poco frecuentes en 'Nombre municipio':
Nombre municipio
MONTERIA           9.950757e-03
SOACHA             9.879093e-03
PASTO              9.639224e-03
ARMENIA            8.705093e-03
ITAGUI             8.548466e-03
                       ...
barrancabermeja    1.564707e-07
puerto COLOMBIA    1.564707e-07
Pensilvania        1.564707e-07
Guepsa             1.564707e-07
Gameza             1.564707e-07
Name: proportion, Length: 1041, dtype: float64
--------------------

Los valores mas atipicos son Gameza, Guepsa, Pensilvania, Puerto Colombia, Barrancabermeja

In [81]:
# Udentificando valores atipicos de variables categoricas (pais),
categorical_cols = df_covid_copy.select_dtypes(exclude=np.number).columns
for col in categorical_cols:
    value_counts = df_covid_copy['Nombre del país'].value_counts(normalize=True)
    rare_values_country = value_counts[value_counts < 0.01] # Ejemplo: valores que aparecen en menos del 1% de los datos
print(f"Valores poco frecuentes en '{'Nombre del país'}':")
print(rare_values_country)
print("-"*20)

Valores poco frecuentes en 'Nombre del país':
Nombre del país
TURQUÍA                                            0.009145
ARGENTINA                                          0.006993
CANADÁ                                             0.006993
ITALIA                                             0.006724
REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE    0.006724
                                                     ...
NORUEGA                                            0.000269
KENYA                                              0.000269
ARABIA SAUDITA                                     0.000269
CAMERÚN                                            0.000269
HAITÍ                                              0.000269
Name: proportion, Length: 63, dtype: float64
--------------------

Los valores mas atipicos son Haiti, Camerun, Arabia Saudita, Kenya y Noruega

# Concluye sobre el resultado de limpieza de datos. (10 puntos).

La limpieza de datos es un proceso qeu requiere dedicacion y atencion al detalle.

Saber utilizar libreriaas de python de manera correcta hace que sea mas facil procesar y limpiar los datos.

Para las cosas que toddavia no existan iuna libreria se pueden usar matematicas estadisticas qeu ayudan mucho en la labor de identificar valores atipicos.

#Codificación y decodificación de datos

## Realiza una decodificación efectiva a las variables de fecha. (30 puntos).

In [82]:
df_covid_copy.head()

,fecha reporte web,ID de caso,Fecha de notificación,Nombre departamento,Nombre municipio,Edad,Unidad de medida de edad,Sexo,Tipo de contagio,Ubicación del caso,Estado,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24 00:00:00,"1,556,979",2020-12-22 00:00:00,VALLE,CALI,67,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN
1,2020-12-24 00:00:00,"1,556,980",2020-12-19 00:00:00,VALLE,CALI,66,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-07 00:00:00,NaN,2020-12-23 00:00:00,2020-12-25 00:00:00,Tiempo,6.0,NaN
2,2020-12-24 00:00:00,"1,556,981",2020-12-19 00:00:00,VALLE,CALI,68,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-18 00:00:00,NaN,2020-12-22 00:00:00,2021-01-01 00:00:00,Tiempo,6.0,NaN
3,2020-12-24 00:00:00,"1,556,982",2020-12-22 00:00:00,VALLE,CALI,74,1,F,Comunitaria,Fallecido,Fallecido,NaN,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6.0,NaN
4,2020-12-24 00:00:00,"1,556,983",2020-12-22 00:00:00,VALLE,CALI,65,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN

In [83]:
#Se convierte el valor de fecha reporte web a fecha
df_covid_copy['fecha reporte web'] = pd.to_datetime(df_covid_copy['fecha reporte web'])
# Formatea la fecha como 'yyyy-mm-dd'
df_covid_copy['fecha reporte web'] = df_covid_copy['fecha reporte web'].dt.strftime('%Y-%m-%d')
df_covid_copy.head()

,fecha reporte web,ID de caso,Fecha de notificación,Nombre departamento,Nombre municipio,Edad,Unidad de medida de edad,Sexo,Tipo de contagio,Ubicación del caso,Estado,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24,"1,556,979",2020-12-22 00:00:00,VALLE,CALI,67,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN
1,2020-12-24,"1,556,980",2020-12-19 00:00:00,VALLE,CALI,66,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-07 00:00:00,NaN,2020-12-23 00:00:00,2020-12-25 00:00:00,Tiempo,6.0,NaN
2,2020-12-24,"1,556,981",2020-12-19 00:00:00,VALLE,CALI,68,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-18 00:00:00,NaN,2020-12-22 00:00:00,2021-01-01 00:00:00,Tiempo,6.0,NaN
3,2020-12-24,"1,556,982",2020-12-22 00:00:00,VALLE,CALI,74,1,F,Comunitaria,Fallecido,Fallecido,NaN,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6.0,NaN
4,2020-12-24,"1,556,983",2020-12-22 00:00:00,VALLE,CALI,65,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN

In [85]:
#Se convierte el valor de fechas a tipo fecha
df_covid_copy['Fecha de notificación'] = pd.to_datetime(df_covid_copy['Fecha de notificación'])
df_covid_copy['Fecha de diagnóstico'] = pd.to_datetime(df_covid_copy['Fecha de diagnóstico'])
df_covid_copy['Fecha de recuperación'] = pd.to_datetime(df_covid_copy['Fecha de inicio de síntomas'])
df_covid_copy['Fecha de inicio de síntomas'] = pd.to_datetime(df_covid_copy['Fecha de inicio de síntomas'])
df_covid_copy['Fecha de muerte'] = pd.to_datetime(df_covid_copy['Fecha de muerte'])
# Formatea la fecha como 'yyyy-mm-dd'
df_covid_copy['Fecha de notificación'] = df_covid_copy['Fecha de notificación'].dt.strftime('%Y-%m-%d')
df_covid_copy['Fecha de diagnóstico'] = df_covid_copy['Fecha de diagnóstico'].dt.strftime('%Y-%m-%d')
df_covid_copy['Fecha de recuperación'] = df_covid_copy['Fecha de recuperación'].dt.strftime('%Y-%m-%d')
df_covid_copy['Fecha de inicio de síntomas'] = df_covid_copy['Fecha de inicio de síntomas'].dt.strftime('%Y-%m-%d')
df_covid_copy['Fecha de muerte'] = df_covid_copy['Fecha de muerte'].dt.strftime('%Y-%m-%d')
df_covid_copy.head()

,fecha reporte web,ID de caso,Fecha de notificación,Nombre departamento,Nombre municipio,Edad,Unidad de medida de edad,Sexo,Tipo de contagio,Ubicación del caso,Estado,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24,"1,556,979",2020-12-22,VALLE,CALI,67,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21,NaN,2020-12-23,2020-12-21,Tiempo,6.0,NaN
1,2020-12-24,"1,556,980",2020-12-19,VALLE,CALI,66,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-07,NaN,2020-12-23,2020-12-07,Tiempo,6.0,NaN
2,2020-12-24,"1,556,981",2020-12-19,VALLE,CALI,68,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-18,NaN,2020-12-22,2020-12-18,Tiempo,6.0,NaN
3,2020-12-24,"1,556,982",2020-12-22,VALLE,CALI,74,1,F,Comunitaria,Fallecido,Fallecido,NaN,Fallecido,2020-12-17,2020-12-30,2020-12-23,2020-12-17,NaN,6.0,NaN
4,2020-12-24,"1,556,983",2020-12-22,VALLE,CALI,65,1,F,Comunitaria,Casa,Leve,NaN,Recuperado,2020-12-21,NaN,2020-12-23,2020-12-21,Tiempo,6.0,NaN

## ¿Cuántos fallecidos hay en Colombia mayores de 60 años? (5 puntos).

In [87]:
fallecidos_mayores_60 = df_covid_copy[(df_covid_copy['Estado'] == 'Fallecido') & (df_covid_copy['Edad'] > 60)]

# Get the number of rows in the resulting DataFrame
numero_fallecidos_60 = len(fallecidos_mayores_60)

print(f"Numero de fallecidos por COVID mayores a 60 años en Colombia: {numero_fallecidos_60}")

Numero de fallecidos por COVID mayores a 60 años en Colombia: 102824

## ¿Cuántos fallecidos hay en Antioquia mayores de 60 años? (5 puntos).

In [88]:
df_covid_copy['Nombre departamento'].unique()

array(['VALLE', 'ANTIOQUIA', 'SANTANDER', 'NORTE SANTANDER', 'CALDAS',
       'BOGOTA', 'CUNDINAMARCA', 'CAQUETA', 'QUINDIO', 'RISARALDA',
       'CASANARE', 'NARIÑO', 'HUILA', 'CESAR', 'META', 'STA MARTA D.E.',
       'TOLIMA', 'CAUCA', 'BARRANQUILLA', 'SUCRE', 'CARTAGENA', 'BOLIVAR',
       'GUAJIRA', 'ATLANTICO', 'CORDOBA', 'MAGDALENA', 'ARAUCA', 'BOYACA',
       'SAN ANDRES', 'CHOCO', 'GUAVIARE', 'VICHADA', 'PUTUMAYO', 'VAUPES',
       'GUAINIA', 'AMAZONAS', 'Caldas', 'Tolima', 'Santander',
       'Cundinamarca', 'Putumayo'], dtype=object)

In [90]:
fallecidos_antioquia_mayor_60 = df_covid_copy[(df_covid_copy['Estado'] == 'Fallecido') & (df_covid_copy['Nombre departamento'] == 'ANTIOQUIA') & (df_covid_copy['Edad'] > 60)]

# Get the number of rows in the resulting DataFrame
numero_antioquia_fallecidos_60 = len(fallecidos_antioquia_mayor_60)

print(f"Numero de fallecidos por COVID mayores a 60 años en el departamento de Antioquia: {numero_antioquia_fallecidos_60}")

Numero de fallecidos por COVID mayores a 60 años en el departamento de Antioquia: 13827

## ¿Cuántos fallecidos hay en Medellín mayores de 60 años? (5 puntos).

In [94]:
fallecidos_antioquia_mayor_60['Nombre municipio'].unique()

array(['MEDELLIN', 'CAUCASIA', 'EL BAGRE', 'ENVIGADO', 'BELLO',
       'SABANALARGA', 'ITAGUI', 'RETIRO', 'SABANETA', 'LA UNION',
       'CHIGORODO', 'DON MATIAS', 'SEGOVIA', 'LA CEJA', 'RIONEGRO',
       'SANTA FE DE ANTIOQUIA', 'SANTA BARBARA', 'APARTADO', 'BARBOSA',
       'GUARNE', 'ANDES', 'YONDO (CASABE)', 'GIRARDOTA',
       'CARMEN DE VIBORAL', 'COPACABANA', 'CAREPA', 'SAN JERONIMO',
       'BOLIVAR', 'MARINILLA', 'SAN PEDRO', 'CALDAS', 'VENECIA',
       'SAN PEDRO DE URABA', 'PUERTO TRIUNFO', 'LA ESTRELLA',
       'PUERTO BERRIO', 'NECOCLI', 'JARDIN', 'AMAGA', 'TURBO',
       'ARBOLETES', 'FRONTINO', 'CAÑASGORDAS', 'CACERES', 'URRAO',
       'SAN CARLOS', 'ABEJORRAL', 'CAICEDO', 'FREDONIA', 'VEGACHI',
       'COCORNA', 'NECHI', 'PUERTO NARE (LA MAGDALENA )', 'MACEO',
       'GOMEZ PLATA', 'YOLOMBO', 'SAN RAFAEL', 'GIRALDO', 'LIBORINA',
       'HELICONIA', 'ANORI', 'TITIRIBI', 'SONSON', 'EBEJICO', 'SOPETRAN',
       'PEÑOL', 'PEQUE', 'REMEDIOS', 'ALEJANDRIA', 'SANTO DOMINGO',
       'SAN ROQUE', 'CISNEROS', 'CONCORDIA', 'MUTATA', 'TAMESIS',
       'SANTUARIO', 'YARUMAL', 'CAMPAMENTO', 'ZARAGOZA', 'ITUANGO',
       'SANTA ROSA DE OSOS', 'CARACOLI', 'AMALFI', 'SALGAR', 'DABEIBA',
       'JERICO', 'SAN LUIS', 'ANGELOPOLIS', 'HISPANIA', 'LA PINTADA',
       'PUEBLORRICO', 'MONTEBELLO', 'ANGOSTURA', 'ENTRERRIOS', 'GRANADA',
       'ABRIAQUI', 'BETULIA', 'NARIÑO', 'TARSO', 'SAN FRANCISCO',
       'ARGELIA', 'CONCEPCION', 'SAN VICENTE', 'TARAZA', 'GUATAPE',
       'BURITICA', 'OLAYA', 'SAN JUAN DE URABA', 'VALDIVIA', 'SAN ANDRES',
       'URAMITA', 'YALI', 'CAROLINA', 'BETANIA', 'ARMENIA', 'ANZA',
       'BRICENO', 'VALPARAISO', 'TOLEDO', 'CARAMANTA',
       'SAN JOSE DE LA MONTANA', 'VIGIA DEL FUERTE', 'BELMIRA',
       'GUADALUPE'], dtype=object)

In [93]:
fallecidos_medellin_mayor_60 = df_covid_copy[(df_covid_copy['Estado'] == 'Fallecido') & (df_covid_copy['Nombre municipio'] == 'MEDELLIN') & (df_covid_copy['Edad'] > 60)]

# Get the number of rows in the resulting DataFrame
numero_medellin_fallecidos_60 = len(fallecidos_medellin_mayor_60)

print(f"Numero de fallecidos por COVID mayores a 60 años en la ciudad de Medellin: {numero_medellin_fallecidos_60}")

Numero de fallecidos por COVID mayores a 60 años en la ciudad de Medellin: 7933

# CONCLUSIONES

Limpiar datos asegura que la informacion obtenida sea de calidad, y pertinente.

Es importante hacerse la pregunta que necesito hacer con mis datos para saber como proceder con la limpieza y procesamiento de los datos, esto se evidencio  en las preguntas relaizadas en los ejercicios de la actividad.

En un entorno real de trabajo es bueno hacer unas preguntas adecuadas para saber como proceder con la informacion obtenida.